.btn-play {
  background-color: white;
  color: $light-text-color-400;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 1s ease;
  &:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 4px;
    transform: translate(-50%,-50%);
    transform-origin: center center;
    border: 6px solid transparent;
    border-left-color: currentColor;
    border-left-width: 10px;
    transition: all .2s;
  }
  &:hover, &:active, &:focus, &:hover:active, &:hover:focus, &:active:focus, &:hover:active:focus {
    background-color: white !important;
    color: $light-text-color-400 !important;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
    transform: translate(-50%, -52%);
  }
  &.active {
    background-color: white !important;
    color: $light-text-color-400 !important;
    &:before {
      width: 10px;
      height: 10px;
      margin-left: 0;
      border-top-width: 0;
      border-bottom-width: 0;
      border-left-width: 3px;
      border-right-width: 3px;
      border-right-color: currentColor;
      transform: translate(-50%,-50%) rotate(180.1deg);
    }
    &:hover, &:active, &:focus, &:hover:active, &:hover:focus, &:active:focus, &:hover:active:focus {
      background-color: white !important;
      color: $light-text-color-400 !important;
      box-shadow: none !important;
      outline: none !important;
      border: none !important;
      transform: translate(-50%, -52%);
    }
  }
}

.btn-icon {
  width: 2.125rem;
  height: 2.125rem;
  padding: 0!important;
}

.btn-raised {
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),transform .4s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); 
}

.btn-transparent {
  background-color: transparent;
  border-color: transparent;
  outline: none !important;
  box-shadow: none !important;
  &:hover, &:active, &:focus, &:hover:active, &:hover:focus, &:active:focus, &:hover:active:focus {
    background-color: transparent;
    border-color: transparent;
    outline: none !important;
    box-shadow: none !important;
  }
}

.btn-more {
  &:after {
    content: '\22EF';
    font-size: 16px;
    font-weight: 900;
  }
}