.gd-primary {
  color: #fff;
  border: none;
  background: #448bff linear-gradient(45deg,#448bff,#44e9ff);
}

.gd-danger {
  color: #fff;
  border: none;
  background: #f54394 linear-gradient(45deg,#f54394,#f543ed);
}