:root {
  --sidebar-width: 13.5rem; 
}

.main-template {
  display: flex;
  height: 100%;
  .sidebar {
    width: var(--sidebar-width);
    height: 100%;
    @media screen and (max-width: 992px) {
      --sidebar-width: 17.5rem;
    }
    @media screen and (min-width: 992px) {
      &.folded {
        --sidebar-width: 4.5rem;
      }
    }
  }
  .template-body {
    width: calc(100% - var(--sidebar-width));
    height: 100%;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
    .app-header {
      position: fixed;
      z-index: 1000;
      height: $brand-height;
      top: 0;
      left: var(--sidebar-width);
      right: 0;
      @media screen and (max-width: 992px) {
        left: 0;
      }
    }
    main {
      margin-top: $brand-height;
      margin-bottom: $footer-height;
      padding: 2rem;
      @media (max-width: 768px) {
        padding: 1rem;
      }

      @media (max-width: 992px) {
          padding: 1.5rem;
      }
    }
    .app-footer {
      position: fixed;
      z-index: 1000;
      bottom: 0;
      left: var(--sidebar-width);
      right: 0;
      height: $footer-height;
      @media screen and (max-width: 992px) {
        left: 0;
      }
    }
  }
}