.tracks-grid {
  > .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    [class*='col-'] {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
  }
  .track {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
      .track-image-wrapper {
        .overlay {
          display: block;
        }
      }
    }
    .track-image-wrapper {
      position: relative;
      width: 100%;
      &:before {
        content: "";
        position: absolute;
        height: 10%;
        width: 90%;
        left: 5%;
        bottom: 0;
        background: inherit;
        background-position-y: 100%;
        filter: blur(10px);
      }
      .track-image-container {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        background-position: 50%;
        background-size: cover;
        border-radius: 3px;
      }
      .overlay {
        display: none;
        background-color: $overlay-background-color;
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
    .info {
      text-align: center;
      span {
        height: 1.25rem;
        display: block;
        -webkit-line-clamp: 1;
        overflow: hidden;
        -webkit-box-orient: vertical;
        &.title {
          font-weight: 500;
          margin-top: 1rem;
        }
        &.publisher {
          color: $light-text-color-400;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
