.discover {
  .banner-section {
    .banner-group {
      @media (min-width: 576px) {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
      }
      [class*='col-']:first-of-type {
        .banner-description {
          border-top-left-radius: 0.25rem;
          border-bottom-left-radius: 0.25rem;
          @media (max-width: 576px) {
            border-radius: 0.25rem;
          }
        }
      }
      [class*='col-']:last-of-type {
        .banner-description {
          border-top-right-radius: 0.25rem;
          border-bottom-right-radius: 0.25rem;
          @media (max-width: 576px) {
            border-radius: 0.25rem;
          }
        }
      }
      .banner {
        .banner-description {
          background-position: 50%;
          background-size: cover;
          &:before {
            content: "";
            position: absolute;
            height: 10%;
            width: 90%;
            left: 5%;
            bottom: 0;
            background: inherit;
            background-position-y: 100%;
            filter: blur(10px);
          }
          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $overlay-background-color;
            border-radius: inherit;
          }
          > * {
            position: relative;
            z-index: 1;
          }
          h4 {
            color: $light-text-color;
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.5;
          }
          span {
            color: $muted-text-color;
            display: block;
            height: 1.25rem;
            overflow: hidden;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
        }
      }
    }
  }
}