.discover {
  .top-tracks-section {
    .top-tracks-slider {
      margin: 0 -15px;
      .slick-prev {
        left: unset;
        top: -46px;
        right: 30px;
        &:before {
          content: "\2039";
          color: $dark-text-color;
          font-size: 2rem;
        }
      }
      .slick-next {
        left: unset;
        top: -46px;
        right: 10px;
        &:before {
          content: "\203a";
          color: $dark-text-color;
          font-size: 2rem;
        }
      }
      .track {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        padding: 0 15px;
        &:hover {
          .track-image-wrapper {
            .overlay {
              display: block;
            }
          }
        }
        .track-image-wrapper {
          position: relative;
          width: 100%;
          .track-image-container {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            background-position: 50%;
            background-size: cover;
            border-radius: 3px;
            position: relative;
            &:before {
              content: "";
              position: absolute;
              height: 10%;
              width: 90%;
              left: 5%;
              bottom: 0;
              background: inherit;
              background-position-y: 100%;
              filter: blur(10px);
            }
          }
          .overlay {
            display: none;
            background-color: $overlay-background-color;
            border-radius: 3px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
        span {
          height: 1.25rem;
          max-width: 125px;
          display: block;
          -webkit-line-clamp: 1;
          overflow: hidden;
          -webkit-box-orient: vertical;
          text-align: center;
          &.title {
            font-weight: 500;
            margin-top: 1rem;
          }
          &.publisher {
            color: $light-text-color-400;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}